<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="script.js"></script>

    <title>CommonResources</title>
</head>
<body>

<h1>MainController</h1>
<div ng-Controller="MainController as mainVm">
    <input type="text" ng-model="mainVm.user.data.name"/>
    <button ng-click="mainVm.reload()">Reload</button>
</div>
<h1>SubController</h1>
<div ng-Controller="SubController as subVm">
    <input type="text" ng-model="subVm.user.data.name"/>
</div>

</body>
</html>