<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="script.js"></script>

    <title>CommonResources</title>
</head>
<body>

<h1>MainController</h1>
<div ng-Controller="MainController as mainVm" ng-init="mainVm.init('5578fe28bdbf28b604423c58')">
    <input type="text" ng-model="mainVm.user.data.name"/>
    <button ng-click="mainVm.user.fetch()">Load from server</button>
</div>
<h1>Sub1Controller</h1>
<div ng-Controller="Sub1Controller as sub1Vm">
    <input type="text" ng-model="sub1Vm.user.data.name"/>
</div>
<h1>Sub2Controller</h1>
<div ng-Controller="Sub2Controller as sub2Vm">
    <input type="text" ng-model="sub2Vm.user.data.name"/>
</div>

</body>
</html>