<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">

    <script type="text/javascript" src="script.js"></script>

    <title>Form</title>
</head>
<body>

<div class="container" ng-Controller="MyController as vm">
    <h3>会員登録</h3>

    <form name="myForm">
        <div class="form-group" ng-class="{'has-error': myForm.name.$dirty && myForm.name.$invalid}">
            <label class="control-label">氏名</label>*
            <small ng-if="myForm.name.$dirty && myForm.name.$error.required">必須です</small>
            <input type="text" class="form-control" name="name"
                   ng-model="formData.name" ng-required="true" placeholder="田中太郎"/>
        </div>

        <div class="form-group" ng-class="{'has-error': myForm.mail.$dirty && myForm.mail.$invalid}">
            <label class="control-label">メールアドレス</label>
            <span ng-if="myForm.mail.$dirty && myForm.mail.$invalid">
                {{vm.patterns.mail.message}}
            </span>
            <input type="text" class="form-control" name="mail"
                   ng-model="formData.mail" ng-pattern="vm.patterns.mail.regex" placeholder="example@example.com"/>
        </div>

        <button class="button btn btn-primary btn-block" ng-disabled="myForm.$invalid">登録</button>
    </form>
</div>

</body>
</html>