<div class="form-group" ng-class="{'has-error': isError(target)}">
    <label ng-bind="title" class="control-label"></label><span ng-if="required">*</span>

    <small ng-show="isError(target)">
        <span ng-if="isRequiredError(target)">必須です</span>
        <span ng-if="isInvalidError(target)">{{validation.message}}</span>
    </small>
    <input type="text" class="form-control" name="{{name}}"
           ng-model="ngModel" ng-required="required"
           ng-pattern="validation.regexp" placeholder="{{placeholder}}"/>
</div>